{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="alert alert-primary" role="alert">
            <div class="col-4 m-md-auto">
                <a href="{{ path('ticket_new') }}"><button type="button" class="btn btn-ghost-primary btn-block btn-lg">Create new ticket</button></a>
            </div>
        </div>
        <h1 class="mb-3 mt-5">Tickets</h1>

        <table class="table table-light table-striped border shadow p-3 mb-5 bg-white rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Demand content</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.content }}</td>
                    {% if ticket.demand == null %}
                        <td>The ticket is not related to a demand</td>
                    {% else %}
                        <td>{{ ticket.demand.content|u.truncate(25, '...') }}</td>
                    {% endif %}
                    <td>{{ ticket.content }}</td>
                    <td>{{ ticket.createdAt ? ticket.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ ticket.updatedAt ? ticket.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('ticket_show', {'id': ticket.id}) }}"><i class="cil-magnifying-glass"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('ticket_edit', {'id': ticket.id}) }}"><i class="cil-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
