{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="alert alert-primary" role="alert">
            <h3 class="">Add a new company</h3>
            <a href="{{ path('company_new') }}"><button type="button" class="btn btn-primary btn-md"> <i class="cil-user-plus"></i>  Create new</button></a>
        </div>
        <h1 class="mb-3">Companies</h1>

        <table class="table table-light table-striped border shadow p-3 mb-5 bg-white rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company name</th>
                    <th>Address</th>
                    <th>Email address</th>
                    <th>Phone number</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.Address }}, {{ company.zipCode }} {{ company.city }}</td>
                    <td>{{ company.emailAddress }}</td>
                    <td>{{ company.phoneNumber }}</td>
                    <td>
                        <a href="{{ path('company_show', {'id': company.id}) }}"><i class="cil-magnifying-glass"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('company_edit', {'id': company.id}) }}"><i class="cil-pencil"></i> </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
